* {
    font-family: 'Montserrat', sans-serif;
}

.h-screen {
    height: 100vh;
}

.bg {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    width: 300px;
}

.warning {
    color: #B0842D;
}

input {
    outline: unset !important;
    box-shadow: unset !important;
}

.btn-warning {
    background-color: #B0842D !important;
    border-color: #B0842D !important;
    color: white !important;
}

.min-h-screen {
    min-height: 100vh;
}

body,
html {
    overflow-x: hidden;
}

.sidebar {
    background-color: #EEEEEE;
}

.circle-logo {
    width: 90px;
}

.menu a .active {
    display: none;
}

.menu a:hover .inactive,
.menu a.active .inactive {
    display: none;
}

.menu a:hover,
.menu a.active {
    color: #B0842D !important;
}

.menu a:hover .active,
.menu a.active .active {
    display: block;
}

.menu-item {
    line-height: 2.2;
}

.menu-item img {
    width: 20px;
}

.fs-20 {
    font-size: 20px;
}

.fs-14 {
    font-size: 14px;
}

.avatar {
    width: 50px;
    border-radius: 50%;
}

.img-fluid.profile-img {
    position: absolute;
    bottom: -70px;
    left: 40px;
    width: 130px;
}

.btn-success {
    background-color: #2FA20E !important;
    border-color: #2FA20E !important
}