* {
  font-family: "Montserrat", sans-serif;
}

.h-screen {
  height: 100vh;
}

.bg {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 300px;
}

.warning {
  color: #b0842d;
}

input,
select,
textarea {
  outline: unset !important;
  box-shadow: unset !important;
}

.btn-warning {
  background-color: #b0842d !important;
  border-color: #b0842d !important;
  color: white !important;
}

.min-h-screen {
  min-height: 100vh;
}

body,
html {
  overflow-x: hidden;
}

.sidebar {
  background-color: #eeeeee;
}

.circle-logo {
  width: 90px;
}

.menu a .active {
  display: none;
}

.menu a:hover .inactive,
.menu a.active .inactive {
  display: none;
}

.menu a:hover,
.menu a.active {
  color: #b0842d !important;
}

.menu a:hover .active,
.menu a.active .active {
  display: block;
}

.menu-item {
  line-height: 2.2;
}

.menu-item img {
  width: 20px;
}

.fs-20 {
  font-size: 20px;
}

.fs-14 {
  font-size: 14px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}

.img-fluid.profile-img {
  position: absolute;
  bottom: -70px;
  left: 40px;
  width: 130px;
}

.btn-success {
  background-color: #2fa20e !important;
  border-color: #2fa20e !important;
}

.border-dashed {
  border: 1px dashed #707070;
  padding: 25px;
  border-radius: 3px;
}

input[type="file"] {
  display: none;
}

td {
  vertical-align: middle !important;
}

.table-gap td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* notificatrion */
.bg-success {
  background-color: #2fa20e !important;
}

.notification-dropdown {
  width: 400px;
  max-width: 95%;
}
.text-success {
  color: #2fa20e !important;
}
.notification-dropdown.shadow {
  position: absolute;
  min-width: 350px;
  z-index: 1000;
  top: 50px;
  right: 0;
}

.notification-dropdown:after {
  content: "";
  position: absolute;
  right: 2px;
  top: -15px;
  border-top: 20px solid #2fa20e;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(180deg);
}

.notification-dropdown {
  display: none;
}
.notification-dropdown.show {
  display: block;
}

.col-lg-3.col-md-4.sidebar-holder.p-0.active {
  max-width: 20%;
  flex: 0 0 20%;
}
/* .col-lg-3.col-md-4.sidebar-holder.p-0.active .text-center {
  display: block;
} */
.col-lg-3.col-md-4.sidebar-holder.p-0 .menu-item span {
  display: none !important;
}
.col-lg-3.col-md-4.sidebar-holder.p-0 p.lead.fw-bold {
  display: none;
}
.col-lg-3.col-md-4.sidebar-holder.p-0.active p.lead.fw-bold {
  display: block;
}

.col-lg-3.col-md-4.sidebar-holder.p-0.active .text-end {
  text-align: right !important;
  width: 100% !important;
}
/* .col-lg-3.col-md-4.sidebar-holder.p-0 .text-center {
  display: none;
} */
.col-lg-3.col-md-4.sidebar-holder.p-0.active .menu-item span {
  display: block !important;
}
.col-lg-3.col-md-4.sidebar-holder.p-0 .menu-item span {
  display: none !important;
}
.col-lg-3.col-md-4.sidebar-holder.p-0 .text-end {
  text-align: center !important;
}
.col-lg-3.col-md-4.sidebar-holder.p-0 {
  max-width: 5%;
  flex: 0 0 5%;
}
.col-lg-9.col-md-8.p-0 {
  max-width: 80%;
  flex: 0 0 80%;
}
.col-lg-9.col-md-8.p-0.active {
  max-width: 95%;
  flex: 0 0 96%;
}

.fa-bars {
  font-size: 24px;
}

* {
  transition: 0.6s;
}

.col-lg-3.col-md-4.sidebar-holder.p-0 .sidebar {
  padding-right: 5px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mobileMenuBtn {
  display: none;
}
.notification-dropdown.show {
  position: absolute;
  min-width: 300px;
  right: 0;
  z-index: 100;
  top: 50px;
}

.submenu {
  display: none;
}

.submenu.show {
  display: block;
}
.has-submenu .fa.fa-caret-down {
  right: 0;
  transform-origin: center center;
}
.fa.fa-caret-down {
  transition: 0.2s;
}
.has-submenu.active .fa.fa-caret-down {
  transform: rotate(180deg);
}
/* @responsiveness */

@media screen and (max-width: 767px) {
  .card.shadow.px-5.py-4.border-0 {
    width: 95%;
    padding: 0 !important;
  }
  .card-body.px-5 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .col-lg-3.col-md-4.sidebar-holder.p-0.active {
    max-width: 85%;
    flex: 0 0 100%;
  }
  .sidebar.h-100.p-3 {
    position: fixed;
    z-index: 1000;
    width: 90%;
    left: 0;
    top: 0;
  }
  .col-lg-3.col-md-4.sidebar-holder.p-0 .sidebar.active {
    transform: translateX(0);
  }
  .col-lg-3.col-md-4.sidebar-holder.p-0 .sidebar {
    padding-right: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(-100%);
  }
  .col-lg-9.col-md-8.p-0 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  p.fw-semibold.warning.lead.d-flex.align-items-center {
    display: none !important;
  }
  .actions {
    text-align: right;
  }
  .actions .btn {
    margin: 5px 0 !important;
  }
  .col-12.p-3 {
    overflow-x: scroll;
  }
  .col-12 .justify-content-end {
    justify-content: flex-start !important;
  }
  .col-12 .text-end {
    text-align: left !important;
  }
  .inp-group.mb-3.opacity-0 {
    display: none;
  }

  .mobileMenuBtn {
    display: block;
  }
  .card-body {
    overflow-x: scroll;
  }
  .card-body form.d-flex.justify-content-end {
    justify-content: flex-start !important;
  }
  .table-gap td {
    min-width: 150px;
  }
  .pagination.justify-content-end.align-items-center {
    justify-content: flex-start !important;
  }
}
